.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    background: $order-bg-color;

    @media (max-width: 600px) {
        font-size: 13px;
    }
}

.select2-container--flat {
    font-family: $lato-regular;
    .select2-results__option[aria-selected="true"] {
        color: $accent-color;
        font-family: $lato-regular;
    }
    .select2-selection--single {
        background: rgba(255, 255, 255, 0.85);
        border-radius: 3px;
    }
    &.select2-container--open {
        .select2-selection__placeholder {
            color: $primary-color !important;
        }
        .select2-selection--single {
            background: $footer-bg-color;
        }
        .select2-selection__arrow {
            background: url("../img/arr2.svg") 0 0 no-repeat !important;
        }
    }
    span.select2-search {
        input {
            display: none;
        }
    }
}

.select2-container--flat {
    .select2-selection--single {
        height: 48px;
        .select2-selection__rendered {
            color: $order-bg-color;
            line-height: 48px;
        }
        .select2-selection__arrow {
            height: 20px;
            width: 20px;
            top: 30%;
            right: 1%;
            background: url("../img/arr1.svg") 0 0 no-repeat;
            position: absolute;
        }
        .select2-selection__placeholder {
            color: $order-bg-color;
        }
    }
}

.dropdown {
    @media (max-width: 600px) {
        font-size: 13px;
        width: 100%;
    }
}
