$lato-bold: 'Lato-Bold';
$raleway: 'Raleway-ExtraBold';
$lato-regular: 'Lato-Regular';
$lato-semibold: 'Lato-SemiBold';
$lato-extrabold: 'Lato-ExtraBold';

$primary-color: #ffffff;
$secondary-color: #000000;
$accent-color: #3E9CDC;
$order-point-color: #286690;
$order-bg-color: #272733;
$order-txt-color: #BBBBBB;
$footer-bg-color: #3D4050;
$footer-color: #C3C3C3;

$max-width: 1170px;
